.teilnehmer {
  page-break-after: always;
}

.paper {
  max-width: 670px;
  margin: auto;
}
h1 {
  text-align: center;
}

dl dt {
  font-weight: bold;
  margin-top: 0.5em;
}

body {
  font-family: arial;
}

.platzhalter {
  width: 300px;
  display: inline-block;
}
