{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block sitebar %}
<nav>
	<ul>
		<li><a href="#intro">Willkommen</a></li>
		<li><a href="#liste">Klassenliste</a></li>
		<li><a href="#comments">Kommentare</a></li>
	</ul>
</nav>
{% endblock %}


{% block content %}
<section id="intro" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<h1>Klassentreffen Jahrgang 1993</h1>
		<p>Für viele Jahre haben wir uns täglich gesehen, davon hatten wir jetzt ca. 10 Jahre Pause. Nun ist es soweit, dass wir wieder einmal zusammen finden wollen. Am Samstag den 11. Juni 2016 findet unser erstes Klassentreffen statt.</p>
		<p>Das Programm ist noch in der Planung. Der aktuelle Stand ist, dass wir uns gegegen 15:00 Uhr in der Schule zum Kaffee und Kuchen treffen. Gegen 18:00 Uhr werden wir dann gemeinsam essen gehen, vermutlich nach Villingen.</p>
		<p>Weitere Informationen werden wir bald hier auf der Seite veröffentlichen.</p>
	</div>
</section>

<section id="liste" class="wrapper style1 fade-down">
	<div class="inner">
		<h2>Klassenliste</h2>
		<p>
			Damit wir Personen einladen können, die irgendwann mit uns in der Klasse waren, brauchen wir alle E-Mail-Adressen. In der folgenden Liste habe ich alle potenziellen Teilnehmer eingetragen und vermerkt, ob uns die E-Mail-Adresse bekannt ist. Wenn euch weitere Personen einfallen oder ihr E-Mail-Adressen kennt, dann teilt uns diese bitte an info<span>@</span>klasse-93.de mit.
		</p>
		<table>
			<tr>
				<th>Name</th><th>E-Mail bekannt</th><th>Ist dabei</th>
			</tr>
			{% for teilnehmer in teilnehmer_list %}
			<tr>
				<td>{{ teilnehmer.name }}</td>
				<td>{% if teilnehmer.mail %}Ja{% else %}Nein{% endif %}</td>
				<td>{{ teilnehmer.get_state_display }}</td>
			</tr>
			{% endfor %}
		</table>
		<p>
			Gesamt: {{ teilnehmer_list|length }}<br>
			Zusagen: {{ teilnehmer_count }}
		</p>
	</div>
</section>

<section id="comments" class="wrapper style1 fade-down">
	<div class="inner">
	<h2>Kommentare</h2>
	<p><a href="/comment/">Neuer Kommentar</a></p>

		{% for comment in comment_list %}
		<article class="comment">
			<div class="byline">
				<address class="author">Von {{ comment.teilnehmer.name }}</address>
				am <time pubdate datetime="{{ comment.date|date:"c" }}">{{ comment.date }}</time>
			</div>
			<div class="article-content">
				{{ comment.text|linebreaks }}
			</div>
		</article>
		{% endfor %}

	</div>
</section
{% endblock %}
