{% extends 'base.html' %}
{% load staticfiles %}

{% block sitebar %}
<nav>
	<ul>
		<li><a href="{% url 'show' token=teilnehmer.token %}">Vorschau</a></li>
		<li><a href="/">Zurück</a></li>
	</ul>
</nav>
{% endblock %}


{% block content %}
<section id="intro" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<h1>{{ object.name }}</h1>
		<div>
			Das Klassenbuch ist im Druck, weshalb keine weiteren Daten eingetragen
			werden können.
		</div>

		<form id="comment_form" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="OK">
		</form>
	</div>
</section>
{% endblock %}
